{% extends 'pebMomWebSiteBundle::layout.html.twig' %}

{% set routing = 'galerie' %}

{% block content %}

    <div class="galerie">
        <div class="jcarousel-wrapper">
        	<div class="jcarousel">
        	    <ul>
        	        <li><img src="{{path('peb_momwebsite_image_image', {id: 22}) }}" width="600" height="400" alt=""></li>
        	        <li><img src="{{path('peb_momwebsite_image_image', {id: 23}) }}" width="600" height="400" alt=""></li>
        	        <li><img src="{{path('peb_momwebsite_image_image', {id: 24}) }}" width="600" height="400" alt=""></li>
        	    </ul>
        	</div>

        	<a href="#" class="jcarousel-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-next">&rsaquo;</a>
            
            <!--<p class="jcarousel-pagination"></p>-->
        </div>
        <div class="navigation">
            <div class="carousel-navigation">
                <ul>
                    <li><img src="{{path('peb_momwebsite_image_image', {id: 22}) }}" width="50" height="50" alt=""></li>
                    <li><img src="{{path('peb_momwebsite_image_image', {id: 23}) }}" width="50" height="50" alt=""></li>
                    <li><img src="{{path('peb_momwebsite_image_image', {id: 24}) }}" width="50" height="50" alt=""></li>
                </ul>
            </div>
            <!--
            <a href="#" class="prev prev-navigation">&lsaquo;</a>
            <a href="#" class="next next-navigation">&rsaquo;</a>
        -->
        </div>

    </div>

<script>

    var connector = function(itemNavigation, carouselStage) {
        return carouselStage.jcarousel('items').eq(itemNavigation.index());
    };

	$(function() {
    	var carouselStage = $('.jcarousel').jcarousel();
        var carouselNavigation = $('.carousel-navigation').jcarousel();

        carouselNavigation.jcarousel('items').each(function() {
            var item = $(this);

            // This is where we actually connect to items.
            var target = connector(item, carouselStage);

            item.on('jcarouselcontrol:active', function() {
                    carouselNavigation.jcarousel('scrollIntoView', this);
                    item.addClass('active');
                })
                .on('jcarouselcontrol:inactive', function() {
                    item.removeClass('active');
                })
                .jcarouselControl({
                    target: target,
                    carousel: carouselStage
                });
        });
        
    	$('.jcarousel-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '-=1'
            });

        $('.jcarousel-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '+=1'
            });
        
	});
</script>

{% endblock %}