<div class="preview">
    <div class="container">

        {% if actualite.image!=null%}
            <div class="row">
                <div class="col-md-8">
                    <h2>{{actualite.title}}</h2>
                    <h6 class="date">{{actualite.formatedDate}}</h6>
                    <p class="text">
                        {{actualite.text}}
                    </p>
                </div>
                <div class="col-md-4">
                    <img style="width:400px;" src="{{path('peb_momwebsite_image_image', {id: actualite.image.id}) }}" alt="splash image">                    
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h2>{{actualite.title}}</h2>
                    <h6 class="date">{{actualite.formatedDate}}</h6>
                    <p class="text">
                        {{actualite.text}}
                    </p>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-md-12 link">
                    <a href="{{ path('peb_momwebsite_actualite_actualitedetail', {id: actualite.id}) }}">Lire la suite</a>
                </div>
            </div>

    </div>
</div>