<!doctype html>
<html lang="fr">
	<head>
		<!-- meta  -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Michelle BOITEAU</title>

		<!-- stylesheet -->
		{% 
			stylesheets 
			'bundles/pebmomwebsite/bower_components/pure/pure-min.css' 
			'bundles/pebmomwebsite/css/style.css'
			filter='cssrewrite' 
		%}
    		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}

	</head>
	<body>


		<div class="content">
		    <div class="header">
		        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
		            <a class="pure-menu-heading" href="">Michelle BOITEAU</a>

		            <ul>
		                <li {% if routing=='default'%}class="pure-menu-selected"{% endif %}><a href="{{ path('peb_momwebsite_default_index', {}) }}">Accueil</a></li>
		                <li {% if routing=='actualite'%}class="pure-menu-selected"{% endif %}><a href="{{ path('peb_momwebsite_actualite_actualite', {}) }}">Actualité</a></li>
		                <li {% if routing=='galerie'%}class="pure-menu-selected"{% endif %}><a href="{{ path('peb_momwebsite_galerie_galerie', {}) }}">Galerie</a></li>
		                <li {% if routing=='cours'%}class="pure-menu-selected"{% endif %}><a href="{{ path('peb_momwebsite_cours_cours', {}) }}">Cours</a></li>
		            </ul>
		        </div>
		    </div>

		    {% block content %}
			    content
		    {% endblock%}

		    <div class="footer">
		       	Design by peb
		    </div>
		</div>
	<body>
	<!-- script -->
</html>